<section class="container">
  <h4 class="text-center">Login</h4>

  <form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
    <div class="form-group">
      <input class="form-control" type="text" name="usuario" [(ngModel)]="usuario" placeholder="Digite seu usuário"
        #campoUsuario="ngModel" required />
      <app-mensagem mensagem="Usuário obrigatório" *ngIf="campoUsuario.invalid && campoUsuario.touched"></app-mensagem>
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="senha" [(ngModel)]="senha" placeholder="Digite sua senha"
        #campoSenha="ngModel" required="" />
      <app-mensagem mensagem="Senha obrigatória" *ngIf="campoSenha.invalid && campoSenha.touched"></app-mensagem>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>
  </form>

  <p style="padding-top: 15px;">Não é um usuário? <a [routerLink]="['novousuario']">Se cadastre!</a></p>

</section>
